DISCORD_TOKEN=
DISCORD_INPUT_CHANNEL_ID=
DISCORD_OUTPUT_CHANNEL_ID=
DISCORD_REPORT_CHANNEL_ID=
DISCORD_REPORT_MENTION_ID=

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini

GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
